.header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
}

h1 {
    margin-bottom: 50px;
}

p,
span,
li {
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header__product-photo {
    width: 50%;
}

.header__product-photo img {
    width: 150px;
}

.header__product-desc {
    margin: 0 auto;
    text-align: left;
}

.header__product-desc li {
    color: gold;
    font-size: 20px;
    margin: 0 20px;
    text-transform: uppercase;
    line-height: 2em;
}

button {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Atma', cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: red;
}

button:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.items {
    display: flex;
    justify-content: space-around;
}

.composition {
    background: linear-gradient(45deg, #fafafa, #afa06d);
}

.composition__block {
    display: block;
    margin-top: 30px;
}

.composition__block_center {
    display: flex;
    margin-top: 100px;
}

.wrapper {
    margin: auto;
}

.composition__block_center img {
    width: 200px;
}

.composition_item {
    display: block;
    padding-top: 20px;
}

.composition_item p {
    color: rgb(97, 55, 15);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}

.composition_item img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.feedbacks {
    background-image: url(../images/pattern.jpg);
}

.feedbacks__item {
    display: block;
    margin: 100px auto 0;
    width: 200px;
    background-color: rgb(193, 193, 207);
    border-radius: 7px;
    padding: 10px;
}

.feedbacks__item img {
    width: 150px;
    border-radius: 100%;
    margin: 20px 0;
}

.feedbacks__item p {
    font-size: 20px;
    color: rgb(32, 52, 61);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feedbacks__item span {
    background-color: white;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 10px;
}

.owl-dots button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.owl-nav span {
    font-size: 30px;
    padding: 20px;
}

.promo {
    background-image: linear-gradient(90deg, #ffffff, #3b2626);
}

.promo__item {
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.promo__item p {
    margin: 70px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 2em;
    text-align: left;
}

.promo__features {
    margin-top: 50px;
}

.promo__features li {
    margin: 20px 20px 0 20px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 2em;
}

.order-form {
    background: radial-gradient(#cfd1d1, #367fa1);
}

.order-form__timer {
    margin-top: 50px;
}

.order-form__timer p {
    font-size: 20px;
}

.order-form__item {
    display: block;
}

.order-form__product img {
    width: 150px;
}

.order-form__price {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.order-form__price p {
    color: white;
    font-size: 22px;
    text-decoration: line-through;
    margin-top: 8px;
}

.order-form__price span {
    color: red;
    font-size: 30px;
    font-weight: bolder;
    animation: blinker 2s linear infinite;
    padding-bottom: 50px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

input {
    display: block;
    margin-top: 20px;
    width: 300px;
    height: 40px;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder {
    text-align: end;
    visibility: hidden;
    transform: translateY(-12px);
}

::-moz-placeholder {
    text-align: end;
    visibility: hidden;
    transform: translateY(-12px);
}

:-moz-placeholder {
    text-align: end;
    visibility: hidden;
    transform: translateY(-12px);
}

:-ms-input-placeholder {
    text-align: end;
    visibility: hidden;
    transform: translateY(-12px);
}

:focus::-webkit-input-placeholder {
    visibility: visible;
}

:focus::-moz-placeholder {
    visibility: visible;
}

:focus:-moz-placeholder {
    visibility: visible;
}

:focus:-ms-input-placeholder {
    visibility: visible;
}